@{
    Layout = null;
}
<!-- Add the following namespace usages: -->
@using DevExpress.AspNetCore
@using DevExpress.DashboardWeb

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/site.min.css" rel="stylesheet" />
    <script type="text/javascript" src="js/site.min.js"></script>
    <script type="text/javascript" src="js/SaveAsExtension.js"></script>
    <script type="text/javascript" src="js/DeleteExtension.js"></script>

    <!-- Defines the "Save As" extension template. -->
    <script type="text/html" id="dx-save-as-form">
        <div>Dashboard Name:</div>
        <div style="margin: 10px 0" data-bind="dxTextBox: { value: newName }"></div>
        <div data-bind="dxButton: { text: 'Save', onClick: saveAs }"></div>
    </script>

    <script type="text/javascript">
        function onBeforeRender(sender) {
            var dashboardControl = sender;
            dashboardControl.registerExtension(new SaveAsDashboardExtension(dashboardControl));
            dashboardControl.registerExtension(new DeleteDashboardExtension(dashboardControl));
        }
    </script>

</head>
<body>
    <!-- Add the Web Dashboard with “clientDashboardDesigner1” name to a View, specify its size, and set the Working Mode to Designer. -->
    <div style="position: absolute; left:0;top:0;right:0;bottom:0;">
        @(Html.DevExpress().Dashboard("clientDashboardDesigner1")
            .WorkingMode(WorkingMode.Designer)
            .Width("100%")
            .Height("100%")
            .OnBeforeRender("onBeforeRender")
        )
    </div>
</body>
</html>